.container {
  max-width: 1000px;
  margin: auto;
  padding: 50px;
}

.navbar {
  height: 10vh;
}
.nav-light {
  background-color: #1c88bf;
  color: white;
}

.nav-dark {
  background-color: #153444;
  color: white;
}
.navbar .navbar-wrapper {
  height: 100%;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-wrapper h1 {
  font-size: 28px;
  cursor: pointer;
}
/* Expense Details */
.expensedetails {
  height: 210px;
  background-color: black;
}
.header-light {
  background-color: #f7f7f7;
}

.header-dark {
  background-color: rgb(29, 25, 25);
  color: white;
}

.expense-content h1 {
  margin-bottom: 30px;
  font-weight: 500;
}

.expense-content .add-expense-btn {
  padding: 15px 20px;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.btn-light {
  background-color: #1c88bf;
}

.btn-dark {
  background-color: #153444;
}

/* Filter form */
.filter-light {
  background-color: white;
}
.filter-dark {
  background-color: rgb(8, 8, 8);
  color: white;
}

.filter-content {
  display: flex;
  justify-content: space-between;
}

.filter-content input {
  border: 1px solid #ccc;
  width: 250px;
  padding: 15px 18px;
  font-size: 18px;
  border-radius: 5px;
}

.filter-content input::placeholder {
  font-size: 18px;
}

.filter-content select {
  width: 150px;
  border: 1px solid #ccc;
  padding: 15px 18px;
  font-size: 18px;
  border-radius: 5px;
}
.wrap-light {
  background-color: white;
  color: #666;
}

.wrap-dark {
  background-color: black;
  color: white;
}
.ExpenseWrapper {
  height: 40vh;
}
.expense-wrapper-heading {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  margin: 0 350px;
}

.ExpenseItemList {
  list-style: none;
  padding: 30px;
  margin-top: -80px;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin: 18px 0;
  border-radius: 5px;
  padding: 15px;
}
.item-light {
  background-color: rgba(204, 204, 204, 0.24);
  border: 1px solid #ddd;
  color: #313131;
}

.item-dark {
  background-color: rgb(29, 25, 25);
  border: 1px solid rgb(54, 54, 54);
  color: White;
}
.expense-item h5 {
  margin-bottom: 10px;
}

.expense-item h6 {
  font: 8px;
}

/* Form */
form input,
form textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

form textarea {
  height: 200px;
}

.form-heading {
  height: 200px;
}

.form-heading h1 {
  margin-bottom: 30px;
  font-weight: 500;
}

.submit-btn {
  width: 160px;
  padding: 15px 20px;
  border: none;
  outline: none;
  margin-top: 15px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.theme-btn {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.settings {
  margin-left: 20px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.layout {
  margin: 30px 20px;
}
